<header class="bg-[#F4F5FC] shadow-sm">
  <div class="flex items-center justify-between px-6 py-4">
    <h1 class="text-2xl font-semibold font-sans text-gray-800">Admin Dashboard</h1>
    <a href="/admin/profile" class="flex items-center justify-center w-10 h-10 bg-gray-200 text-white rounded-full hover:bg-blue-600 transition-all duration-200">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5.121 17.804A10.97 10.97 0 0012 20c2.494 0 4.78-.86 6.879-2.196A10.97 10.97 0 0012 4a10.97 10.97 0 00-6.879 13.804zM12 14a3 3 0 100-6 3 3 0 000 6z" />
      </svg>
    </a>
  </div>
</header>
