<div class="bg-gray-900 text-white min-h-screen">
  <header class="p-4">
    <nav class="flex justify-between items-center">
      <div class="flex items-center">
        <div class="text-4xl text-red-500 hover:text-red-400 font-bold mt-2">
          Add to Cart
        </div>
        <i class="fas fa-shopping-cart text-4xl text-white  mt-2"></i>
      </div>
      <ul class="flex space-x-8 text-2xl mt-4 mr-16">
        <li><a href="#" class="text-red-500 hover:text-red-400">Inicio</a></li>
        <li><a href="#about-home" class="hover:text-gray-300">Acerca de Nosotros</a></li>
        <li><a href="#products-home" class="hover:text-gray-300">Productos</a></li>
        <li><a (click)="openLoginDialog()" class="hover:text-gray-300">Iniciar Sesión</a></li>
      </ul>
      <div class="flex items-center space-x-4">
        <svg 
         
          xmlns="http://www.w3.org/2000/svg" 
          class="h-6 w-6 cursor-pointer hover:text-gray-300" 
          fill="none" 
          viewBox="0 0 24 24" 
          stroke="currentColor">
          <path 
            stroke-linecap="round" 
            stroke-linejoin="round" 
            stroke-width="2" 
            d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
        </svg>
        
        <svg 
          (click)="openCartDialog()" 
          xmlns="http://www.w3.org/2000/svg" 
          class="h-6 w-6 cursor-pointer hover:text-gray-300" 
          fill="none" 
          viewBox="0 0 24 24" 
          stroke="currentColor">
          <path 
            stroke-linecap="round" 
            stroke-linejoin="round" 
            stroke-width="2" 
            d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
        </svg>
      </div>
      
    </nav>
  </header>

  <main class="container mx-auto px-4 py-8">

    <section>
      <app-carrousel-home></app-carrousel-home>
    </section>

    <!-- Sección de productos -->
    <section id="products-home">
      <app-product-home></app-product-home>
    </section>

    <section id ="about-home">
      <app-about-home></app-about-home>
    </section>

    <section id="contact-home">
      <app-footer-home></app-footer-home>
    </section>
    
  </main>
</div>
