<div class="fixed inset-0 font-sans overflow-hidden z-50" aria-labelledby="slide-over-title" role="dialog" aria-modal="true">
  <div class="absolute inset-0 overflow-hidden">
    <!-- Overlay de fondo -->
    <div class="absolute inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>
    
    <div class="pointer-events-none fixed inset-y-0 right-0 flex max-w-full pl-10">
      <div class="pointer-events-auto relative w-screen max-w-md">
        <!-- Contenido del sheet lateral -->
        <div class="flex h-full flex-col overflow-y-scroll bg-white shadow-xl">
          <div class="px-4 sm:px-6 bg-[#052339]">
            <div class="flex items-start justify-between py-6">
              <h2 class="text-xl font-bold text-white" id="slide-over-title">Agregar Proveedor</h2>
              <div class="ml-3 flex h-7 items-center">
                <button (click)="cerrarHoja()" type="button" class="rounded-md bg-white text-gray-400 hover:text-black focus:outline-none focus:ring-2 focus:ring-gray-900">
                  <span class="sr-only">Cerrar panel</span>
                  <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                  </svg>
                </button>
              </div>
            </div>
          </div>
          <div class="relative flex-1 px-4 sm:px-6">
            <!-- Contenido del formulario -->
            <form (ngSubmit)="onSubmit()" #proveedorForm="ngForm" class="space-y-6 text-2xl">

              <div class="relative mt-6">
                <label for="logo" class="block text-sm font-medium text-gray-700 mb-2">Logo de la empresa</label>
                <div class="mt-1 flex justify-center px-6 pt-5 pb-6 border-4 border-gray-300 border-dashed rounded-md" id="file-upload-container" [ngClass]="{'border-red-500': fileUploadError, 'border-green-500': isFileUploaded}">
                  <div class="space-y-1 text-center">
                    <svg class="mx-auto h-12 w-12 text-gray-400" [ngClass]="{ 'text-green-500': isFileUploaded, 'text-orange-500': !isFileUploaded }" stroke="currentColor" fill="none" viewBox="0 0 48 48" aria-hidden="true">
                      <path d="M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12a4 4 0 01-4-4v-4m32-4l-3.172-3.172a4 4 0 00-5.656 0L28 28M8 32l9.172-9.172a4 4 0 015.656 0L28 28m0 0l4 4m4-24h8m-4-4v8m-12 4h.02" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    <div class="flex text-sm text-gray-600">
                      <label for="file-upload" class="relative cursor-pointer bg-white rounded-md font-medium text-gray-700 hover:text-orange-500 focus-within:outline-none focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-indigo-500">
                        <span class="ml-4">Subir un archivo</span>
                        <input id="file-upload" name="file-upload" type="file" class="sr-only" (change)="onFileSelected($event)" [disabled]="isFileUploaded" >
                      </label>
                    </div>
                    <p class="text-xs text-gray-500">PNG, JPG, GIF hasta 10MB</p>
                  </div>
                </div>
      
                <input type="hidden" id="logo" name="logo" [(ngModel)]="proveedor.logo">
              </div>

              <div class="relative mt-6">
                <input type="text" id="nombre" name="nombre" [(ngModel)]="proveedor.name" 
                      class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border appearance-none focus:outline-none focus:ring-0 peer"
                      [ngClass]="{'border-red-500': erroresValidacion['name'], 'border-gray-900': !erroresValidacion['name']}"
                      placeholder=" " />
                <label for="nombre" 
                      [ngClass]="{'text-red-500': erroresValidacion['name'], 'text-gray-500': !erroresValidacion['name']}"
                      class="absolute text-sm duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white px-2 peer-focus:px-2 peer-focus:text-[#052339] peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-1">
                  Empresa
                </label>
                <p *ngIf="erroresValidacion['name']" class="mt-1 text-xs text-red-500">{{erroresValidacion['name']}}</p>
              </div>

              <div class="relative">
                <input type="text" id="contacto" name="contacto" [(ngModel)]="proveedor.contact"
                      class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border appearance-none focus:outline-none focus:ring-0 peer"
                      [ngClass]="{'border-red-500': erroresValidacion['contact'], 'border-gray-900': !erroresValidacion['contact']}"
                      placeholder=" " />
                <label for="contacto" 
                      [ngClass]="{'text-red-500': erroresValidacion['contact'], 'text-gray-500': !erroresValidacion['contact']}"
                      class="absolute text-sm duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white px-2 peer-focus:px-2 peer-focus:text-[#052339] peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-1">
                  Contacto
                </label>
                <p *ngIf="erroresValidacion['contact']" class="mt-1 text-xs text-red-500">{{erroresValidacion['contact']}}</p>
              </div>

              <div class="relative">
                <input type="tel" id="telefono" name="telefono" [(ngModel)]="proveedor.phone"
                      class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border appearance-none focus:outline-none focus:ring-0 peer"
                      [ngClass]="{'border-red-500': erroresValidacion['phone'], 'border-gray-900': !erroresValidacion['phone']}"
                      placeholder=" " />
                <label for="telefono" 
                      [ngClass]="{'text-red-500': erroresValidacion['phone'], 'text-gray-500': !erroresValidacion['phone']}"
                      class="absolute text-sm duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white px-2 peer-focus:px-2 peer-focus:text-[#052339] peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-1">
                  Teléfono
                </label>
                <p *ngIf="erroresValidacion['phone']" class="mt-1 text-xs text-red-500">{{erroresValidacion['phone']}}</p>
              </div>

              <div class="relative">
                <input type="email" id="email" name="email" [(ngModel)]="proveedor.email"
                      class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border appearance-none focus:outline-none focus:ring-0 peer"
                      [ngClass]="{'border-red-500': erroresValidacion['email'], 'border-gray-900': !erroresValidacion['email']}"
                      placeholder=" " />
                <label for="email" 
                      [ngClass]="{'text-red-500': erroresValidacion['email'], 'text-gray-500': !erroresValidacion['email']}"
                      class="absolute text-sm duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white px-2 peer-focus:px-2 peer-focus:text-[#052339] peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-1">
                  Correo electrónico
                </label>
                <p *ngIf="erroresValidacion['email']" class="mt-1 text-xs text-red-500">{{erroresValidacion['email']}}</p>
              </div>

              <div class="relative">
                <textarea id="direccion" name="direccion" [(ngModel)]="proveedor.address" rows="3"
                          class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border appearance-none focus:outline-none focus:ring-0 peer"
                          [ngClass]="{'border-red-500': erroresValidacion['address'], 'border-gray-900': !erroresValidacion['address']}"
                          placeholder=" "></textarea>
                <label for="direccion" 
                      [ngClass]="{'text-red-500': erroresValidacion['address'], 'text-gray-500': !erroresValidacion['address']}"
                      class="absolute text-sm duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white px-2 peer-focus:px-2 peer-focus:text-[#052339] peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-1">
                  Dirección
                </label>
                <p *ngIf="erroresValidacion['address']" class="mt-1 text-xs text-red-500">{{erroresValidacion['address']}}</p>
              </div>

              <div class="relative">
                <input type="text" id="pais" name="pais" [(ngModel)]="proveedor.country"
                      class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border appearance-none focus:outline-none focus:ring-0 peer"
                      [ngClass]="{'border-red-500': erroresValidacion['country'], 'border-gray-900': !erroresValidacion['country']}"
                      placeholder=" " />
                <label for="pais" 
                      [ngClass]="{'text-red-500': erroresValidacion['country'], 'text-gray-500': !erroresValidacion['country']}"
                      class="absolute text-sm duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white px-2 peer-focus:px-2 peer-focus:text-[#052339] peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-1">
                  País
                </label>
                <p *ngIf="erroresValidacion['country']" class="mt-1 text-xs text-red-500">{{erroresValidacion['country']}}</p>
              </div>

              <div class="relative">
                <input type="text" id="terminos_pago" name="terminos_pago" [(ngModel)]="proveedor.pay_terms"
                      class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border appearance-none focus:outline-none focus:ring-0 peer"
                      [ngClass]="{'border-red-500': erroresValidacion['pay_terms'], 'border-gray-900': !erroresValidacion['pay_terms']}"
                      placeholder=" " />
                <label for="terminos_pago" 
                      [ngClass]="{'text-red-500': erroresValidacion['pay_terms'], 'text-gray-500': !erroresValidacion['pay_terms']}"
                      class="absolute text-sm duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white px-2 peer-focus:px-2 peer-focus:text-[#052339] peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-1">
                  Términos de Pago
                </label>
                <p *ngIf="erroresValidacion['pay_terms']" class="mt-1 text-xs text-red-500">{{erroresValidacion['pay_terms']}}</p>
              </div>

              <div>
                <button type="submit"
                        class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-gray-700 hover:bg-gray-900 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-900">
                  Agregar Proveedor
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>