<div class="min-h-screen inset-0 bg-black bg-opacity-50 flex flex-col justify-center py-12 sm:px-6 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-md">
  
  </div>

  <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
    <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
      <form class="space-y-6" (ngSubmit)="onRegister()">
        <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-800">
          Regístrate 
        </h2>
        <div class="relative">
          <input id="nombre" name="nombre" type="text" required
                [(ngModel)]="user.nombre"
                class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-transparent focus:outline-none focus:ring-gray-900 focus:border-gray-900 sm:text-sm peer"
                placeholder="Nombre">
          <label for="nombre" class="absolute left-4 top-2  bg-white text-gray-600 transition-transform transform -translate-y-3 scale-75 origin-top-left peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:-translate-y-4 peer-focus:scale-75 peer-focus:text-gray-800">
            Nombre
          </label>
        </div>

        <div class="relative">
          <input id="apellidos" name="apellidos" type="text" required
                [(ngModel)]="user.apellidos"
                class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-transparent focus:outline-none focus:ring-gray-900 focus:border-gray-900 sm:text-sm peer"
                placeholder="Apellidos">
          <label for="apellidos" class="absolute left-4 top-2  bg-white text-gray-600 transition-transform transform -translate-y-3 scale-75 origin-top-left peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:-translate-y-4 peer-focus:scale-75 peer-focus:text-gray-800">
            Apellidos
          </label>
        </div>

        <div class="relative">
          <select id="tipo_documento" name="tipo_documento" required
                  [(ngModel)]="user.tipo_documento"
                  class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-gray-900 focus:border-gray-900 sm:text-sm">
            <option value="" disabled selected>Selecciona tipo de documento</option>
            <option value="DNI">DNI</option>
            <option value="Pasaporte">Pasaporte</option>
            <option value="Cédula">Cédula</option>
          </select>
          <label for="tipo_documento" class="absolute left-4 top-2 bg-white text-gray-600">
            Tipo de documento
          </label>
        </div>

        <div class="relative">
          <input id="numero_documento" name="numero_documento" type="text" required
                [(ngModel)]="user.numero_documento"
                class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-transparent focus:outline-none focus:ring-gray-900 focus:border-gray-900 sm:text-sm peer"
                placeholder="Número de documento">
          <label for="numero_documento" class="absolute left-4 top-2 bg-white text-gray-600 transition-transform transform -translate-y-3 scale-75 origin-top-left peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:-translate-y-4 peer-focus:scale-75 peer-focus:text-gray-800">
            Número de documento
          </label>
        </div>

        <div class="relative">
          <input id="email" name="email" type="email" autocomplete="email" required
                [(ngModel)]="user.email"
                class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-transparent focus:outline-none focus:ring-gray-900 focus:border-gray-900 sm:text-sm peer"
                placeholder="Correo electrónico">
          <label for="email" class="absolute left-4 top-2  bg-white text-gray-600 transition-transform transform -translate-y-3 scale-75 origin-top-left peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:-translate-y-4 peer-focus:scale-75 peer-focus:text-gray-800">
            Correo electrónico
          </label>
        </div>

        <div class="relative">
          <input id="password" name="password" type="password" autocomplete="new-password" required
                [(ngModel)]="user.password"
                class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-transparent focus:outline-none focus:ring-gray-900 focus:border-gray-900 sm:text-sm peer"
                placeholder="Contraseña">
          <label for="password" class="absolute left-4 top-2  bg-white text-gray-600 transition-transform transform -translate-y-3 scale-75 origin-top-left peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:-translate-y-4 peer-focus:scale-75 peer-focus:text-gray-800">
            Contraseña
          </label>
        </div>

        <div>
          <button type="submit"
                  class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-gray-800 hover:bg-gray-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
            Registrarse
          </button>
        </div>
      </form>

      <div class="mt-6">
        <div class="relative">
          <div class="absolute inset-0 flex items-center">
            <div class="w-full border-t border-gray-300"></div>
          </div>
          <div class="relative flex justify-center text-sm">
            <span class="px-2 bg-white text-gray-500">
              ¿Ya tienes una cuenta?
            </span>
          </div>
        </div>

        <div class="mt-6">
          <button (click)="goToLogin()"
                  class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-gray-800 bg-white hover:bg-gray-900 hover:text-white">
            Iniciar sesión
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
