<div class="min-h-screen inset-0 bg-black bg-opacity-50 flex flex-col justify-center py-12 sm:px-6 lg:px-8">
  <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
    <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
      <form class="space-y-6" (ngSubmit)="onRegister()">
        <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-800">
          Regístrate 
        </h2>
        <div class="relative">
          <input id="name" name="name" type="text" required
                [(ngModel)]="user.name"
                (blur)="validateField('name')"
                [ngClass]="{'border-red-500 focus:ring-red-500': errors['name'], 'border-gray-300': !errors['name']}"
                class="peer appearance-none block w-full px-3 py-4 border border-gray-300 rounded-md shadow-sm placeholder-transparent focus:outline-none focus:ring-gray-900 focus:border-gray-900 sm:text-sm"
                placeholder="Nombre">
          <label for="name" class="absolute left-3 -top-2 bg-white px-1 text-xs text-gray-600 transition-all peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 peer-placeholder-shown:top-3.5 peer-focus:-top-2 peer-focus:text-gray-800 peer-focus:text-xs">
            Nombre
          </label>
          <p *ngIf="errors.name" class="mt-1 text-red-500 text-xs">{{ errors.name }}</p>
        </div>

        <div class="relative">
          <input id="lastName" name="lastName" type="text" required
                [(ngModel)]="user.lastName"
                (blur)="validateField('lastName')"
                [ngClass]="{'border-red-500': errors.lastName, 'border-gray-300': !errors.lastName}"
                class="peer appearance-none block w-full px-3 py-4 border border-gray-300 rounded-md shadow-sm placeholder-transparent focus:outline-none focus:ring-gray-900 focus:border-gray-900 sm:text-sm"
                placeholder="Apellidos">
          <label for="lastName" class="absolute left-3 -top-2 bg-white px-1 text-xs text-gray-600 transition-all peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 peer-placeholder-shown:top-3.5 peer-focus:-top-2 peer-focus:text-gray-800 peer-focus:text-xs">
            Apellidos
          </label>
          <p *ngIf="errors.lastName" class="mt-1 text-red-500 text-xs">{{errors.lastName}}</p>
        </div>

        <div class="relative">
          <select id="documentType" name="documentType" required
                  [(ngModel)]="user.documentType"
                  (blur)="validateField('documentType')"
                  [ngClass]="{'border-red-500': errors.documentType, 'border-gray-300': !errors.documentType}"
                  class="peer appearance-none block w-full px-3 py-4 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-gray-900 focus:border-gray-900 sm:text-sm"
                  (focus)="labelFocused = true" (blur)="labelFocused = user.documentType !== ''">
            <option value="" disabled selected></option>
            <option value="DNI">DNI</option>
            <option value="Pasaporte">Pasaporte</option>
            <option value="Cédula">Cédula</option>
          </select>
          <label for="documentType"
                 [ngClass]="{ 'text-gray-400 top-3.5 text-base': !labelFocused && user.documentType === '', 'text-gray-800 -top-2 text-xs': labelFocused || user.documentType !== '' }"
                 class="absolute left-3 bg-white px-1 transition-all duration-200">
            Tipo de documento
          </label>
          <p *ngIf="errors.documentType" class="mt-1 text-red-500 text-xs" >{{errors.documentType}}</p>
        </div>
        
        <div class="relative">
          <input id="numDoc" name="numDoc" type="text" required
                [(ngModel)]="user.numDoc"
                (blur)="validateField('numDoc')"
                [ngClass]="{'border-red-500': errors.numDoc, 'border-gray-300': !errors.numDoc}"
                class="peer appearance-none block w-full px-3 py-4 border border-gray-300 rounded-md shadow-sm placeholder-transparent focus:outline-none focus:ring-gray-900 focus:border-gray-900 sm:text-sm"
                placeholder="Número de documento">
          <label for="numDoc" class="absolute left-3 -top-2 bg-white px-1 text-xs text-gray-600 transition-all peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 peer-placeholder-shown:top-3.5 peer-focus:-top-2 peer-focus:text-gray-800 peer-focus:text-xs">
            Número de documento
          </label>
          <p *ngIf="errors.numDoc" class="mt-1 text-red-500 text-xs">{{errors.numDoc}}</p>
        </div>

        <div class="relative">
          <input id="email" name="email" type="email" autocomplete="email" required
                [(ngModel)]="user.email"
                (blur)="validateField('email')"
                [ngClass]="{'border-red-500': errors.email, 'border-gray-300': !errors.email}"
                class="peer appearance-none block w-full px-3 py-4 border border-gray-300 rounded-md shadow-sm placeholder-transparent focus:outline-none focus:ring-gray-900 focus:border-gray-900 sm:text-sm"
                placeholder="Correo electrónico">
          <label for="email" class="absolute left-3 -top-2 bg-white px-1 text-xs text-gray-600 transition-all peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 peer-placeholder-shown:top-3.5 peer-focus:-top-2 peer-focus:text-gray-800 peer-focus:text-xs">
            Correo electrónico
          </label>
          <p *ngIf="errors.email" class="mt-1 text-red-500 text-xs">{{errors.email}}</p>
        </div>

        <div class="relative">
          <input id="username" name="username" type="text" required
                [(ngModel)]="user.username"
                [ngClass]="{'border-red-500': errors.username, 'border-gray-300': !errors.username}"
                (blur)="validateField('username')"
                class="peer appearance-none block w-full px-3 py-4 border border-gray-300 rounded-md shadow-sm placeholder-transparent focus:outline-none focus:ring-gray-900 focus:border-gray-900 sm:text-sm"
                placeholder="Nombre de usuario">
          <label for="username" class="absolute left-3 -top-2 bg-white px-1 text-xs text-gray-600 transition-all peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 peer-placeholder-shown:top-3.5 peer-focus:-top-2 peer-focus:text-gray-800 peer-focus:text-xs">
            Nombre de usuario
          </label>
          <p *ngIf="errors.username" class="mt-1 text-red-500 text-xs">{{errors.username}}</p>
        </div>

        <div class="relative">
          <input id="password" name="password" type="password" autocomplete="new-password" required
                [(ngModel)]="user.password"
                (blur)="validateField('password')"
                [ngClass]="{'border-red-500': errors.password, 'border-gray-300': !errors.password}"
                class="peer appearance-none block w-full px-3 py-4 border border-gray-300 rounded-md shadow-sm placeholder-transparent focus:outline-none focus:ring-gray-900 focus:border-gray-900 sm:text-sm"
                placeholder="Contraseña">
          <label for="password" class="absolute left-3 -top-2 bg-white px-1 text-xs text-gray-600 transition-all peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 peer-placeholder-shown:top-3.5 peer-focus:-top-2 peer-focus:text-gray-800 peer-focus:text-xs">
            Contraseña
          </label>
          <p *ngIf="errors.password" class="mt-1 text-red-500 text-xs">{{errors.password}}</p>
        </div>

        <div>
          <button type="submit"
                  class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-gray-800 hover:bg-gray-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
            Registrarse
          </button>
        </div>
      </form>

      <div class="mt-6">
        <div class="relative">
          <div class="absolute inset-0 flex items-center">
            <div class="w-full border-t border-gray-300"></div>
          </div>
          <div class="relative flex justify-center text-sm">
            <span class="px-2 bg-white text-gray-500">
              ¿Ya tienes una cuenta?
            </span>
          </div>
        </div>

        <div class="mt-6">
          <button (click)="goToLogin()"
                  class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-gray-700 hover:bg-gray-900 hover:text-white">
            Iniciar sesión
          </button>
        </div>
      </div>
    </div>
  </div>
</div>