<!-- admin-sidebar.component.html -->
<aside class="bg-[#052339]  text-[#f6f7f8] h-screen transition-all duration-300" [ngClass]="{'w-64': isExpanded, 'w-20': !isExpanded}">
  <div class="p-4 flex items-center justify-between">
    <h2 class="text-2xl font-sans font-semibold" [ngClass]="{'hidden': !isExpanded}">Admin Panel</h2>
    <button (click)="toggleSidebar()" class="text-white focus:outline-none">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
      </svg>
    </button>
  </div>
  <nav class="mt-8">
    <ul class="space-y-2">
      <li>
        <a routerLink="/admin/dashboard-admin" routerLinkActive="bg-red-700" class="flex items-center px-4 py-3 text-white hover:text-black hover:bg-white transition-colors duration-200">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-3" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2H6a2 2 0 01-2-2V6zM14 6a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V6zM4 16a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2H6a2 2 0 01-2-2v-2zM14 16a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z" />
          </svg>
          <span [ngClass]="{'hidden': !isExpanded}">Dashboard</span>
        </a>
      </li>
      <li>
        <a routerLink="/admin/inventory" routerLinkActive="bg-gray-700" class="flex items-center px-4 py-3 text-white hover:text-black hover:bg-white transition-colors duration-200">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-3" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20 13V6a2 2 0 00-2-2H6a2 2 0 00-2 2v7m16 0v5a2 2 0 01-2 2H6a2 2 0 01-2-2v-5m16 0h-2.586a1 1 0 00-.707.293l-2.414 2.414a1 1 0 01-.707.293h-3.172a1 1 0 01-.707-.293l-2.414-2.414A1 1 0 006.586 13H4" />
          </svg>
          <span [ngClass]="{'hidden': !isExpanded}">Inventory</span>
        </a>
      </li>
      <li>
        <a routerLink="/admin/sales" routerLinkActive="bg-white" class="flex items-center px-4 py-3 text-white hover:text-black hover:bg-white transition-colors duration-200">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-3" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-3 7h3m-3 4h3m-6-4h.01M9 16h.01" />
          </svg>
          <span [ngClass]="{'hidden': !isExpanded}">Order Management</span>
        </a>
      </li>
      <li>
        <a routerLink="/admin/suppliers" routerLinkActive="bg-gray-700" class="flex items-center px-4 py-3 text-white hover:text-black hover:bg-white transition-colors duration-200">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-3" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z" />
          </svg>
          <span [ngClass]="{'hidden': !isExpanded}">Suppliers</span>
        </a>
      </li>
      <li>
        <a (click)="onLogout()" class="flex items-center px-4 py-3 text-white hover:text-black hover:bg-white transition-colors duration-200">
          <!-- Icono de logout -->
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-3" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 17h-4a2 2 0 01-2-2V5a2 2 0 012-2h4m3 8l4-4m0 0l-4-4m4 4H7" />
          </svg>
          <span [ngClass]="{'hidden': !isExpanded}">Logout</span>
        </a>
      </li>
    
    </ul>
  </nav>
</aside>