<div class="fixed inset-0 font-sans overflow-hidden z-50" aria-labelledby="slide-over-title" role="dialog" aria-modal="true">
  <div class="absolute inset-0 overflow-hidden">
    <!-- Overlay de fondo -->
    <div class="absolute inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>
    
    <div class="pointer-events-none fixed inset-y-0 right-0 flex max-w-full pl-10">
      <div class="pointer-events-auto relative w-screen max-w-md">
        <!-- Contenido del sheet lateral -->
        <div class="flex h-full flex-col overflow-y-scroll bg-white shadow-xl">
          <div class="px-4 sm:px-6 bg-[#052339]">
            <div class="flex items-start justify-between py-6">
              <h2 class="text-xl  font-bold text-white" id="slide-over-title">Editar Proveedor</h2>
              <div class="ml-3 flex h-7 items-center">
                <button (click)="cerrarHoja($event)" type="button" class="rounded-md bg-white text-gray-400 hover:text-black focus:outline-none focus:ring-2 focus:ring-gray-900">
                  <span class="sr-only">Cerrar panel</span>
                  <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                  </svg>
                </button>
              </div>
            </div>
          </div>
          <div class="relative flex-1 px-4 sm:px-6">
            <!-- Contenido del formulario -->
            <form (ngSubmit)="onSubmit()" #proveedorForm="ngForm" class="space-y-6 text-2xl">
              <div class="relative mt-6">
                <input type="text" id="nombre" name="nombre" [(ngModel)]="proveedor.nombre" required
                       class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border border-gray-900 appearance-none focus:outline-none focus:ring-0 focus:border-[#052339] peer"
                       placeholder=" " />
                <label for="nombre" class="absolute text-sm text-gray-500 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white px-2 peer-focus:px-2 peer-focus:text-[#052339] peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-1">
                  Nombre
                </label>
              </div>

              <div class="relative">
                <input type="text" id="contacto" name="contacto" [(ngModel)]="proveedor.contacto"
                       class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border border-gray-900 appearance-none focus:outline-none focus:ring-0 focus:border-[#052339] peer"
                       placeholder=" " />
                <label for="contacto" class="absolute text-sm text-gray-500 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white px-2 peer-focus:px-2 peer-focus:text-[#052339] peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-1">
                  Contacto
                </label>
              </div>

              <div class="relative">
                <input type="tel" id="telefono" name="telefono" [(ngModel)]="proveedor.telefono"
                       class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border border-gray-900 appearance-none focus:outline-none focus:ring-0 focus:border-[#052339] peer"
                       placeholder=" " />
                <label for="telefono" class="absolute text-sm text-gray-500 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white px-2 peer-focus:px-2 peer-focus:text-[#052339] peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-1">
                  Teléfono
                </label>
              </div>

              <div class="relative">
                <input type="email" id="email" name="email" [(ngModel)]="proveedor.email" required
                       class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border border-gray-900 appearance-none focus:outline-none focus:ring-0 focus:border-[#052339] peer"
                       placeholder=" " />
                <label for="email" class="absolute text-sm text-gray-500 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white px-2 peer-focus:px-2 peer-focus:text-[#052339] peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-1">
                  Correo electrónico
                </label>
              </div>

              <div class="relative">
                <textarea id="direccion" name="direccion" [(ngModel)]="proveedor.direccion" rows="3"
                          class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border border-gray-900 appearance-none focus:outline-none focus:ring-0 focus:border-[#052339] peer"
                          placeholder=" "></textarea>
                <label for="direccion" class="absolute text-sm text-gray-500 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white px-2 peer-focus:px-2 peer-focus:text-[#052339] peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-1">
                  Dirección
                </label>
              </div>

              <div class="relative">
                <input type="text" id="pais" name="pais" [(ngModel)]="proveedor.pais"
                       class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border border-gray-900 appearance-none focus:outline-none focus:ring-0 focus:border-[#052339] peer"
                       placeholder=" " />
                <label for="pais" class="absolute text-sm text-gray-500 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white px-2 peer-focus:px-2 peer-focus:text-[#052339] peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-1">
                  País
                </label>
              </div>

              <div class="relative">
                <input type="text" id="terminos_pago" name="terminos_pago" [(ngModel)]="proveedor.terminos_pago"
                       class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border border-gray-900 appearance-none focus:outline-none focus:ring-0 focus:border-[#052339] peer"
                       placeholder=" " />
                <label for="terminos_pago" class="absolute text-sm text-gray-500 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white px-2 peer-focus:px-2 peer-focus:text-[#052339] peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-1">
                  Términos de Pago
                </label>
              </div>

              <div>
                <button type="submit" [disabled]="!proveedorForm.form.valid"
                        class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-gray-700 hover:bg-gray-900 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-900">
                  Guardar cambios
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>